@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

:root {
	font-family: 'Nanum Gothic';
	--background-color: #fffff9;
	--less-important-color: #5f5f5f;
	--text-color: #000000;
}

body {
	background-color: var(--background-color);
}
